body {
  height: 100vh; /* ocupar toda a altura da tela */
  margin: 0; /* remove margens padrão */
  display: flex; /* ativa flexbox */
  justify-content: center; /* centraliza horizontalmente */
  align-items: center; /* centraliza verticalmente */
  background: #f4f4f4; /* opcional */
}

main {
  width: 100%;
  max-width: 600px; /* limita largura */
  padding: 20px;
}

h1 {
  text-align: center;
}

input,
button {
  margin: 5px 0;
  padding: 8px;
  width: 100%;
}
.box {
  margin-bottom: 25px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
pre {
  background: #f7f7f7;
  padding: 10px;
}
